.Header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #94A684;
    width: 100%;
    min-height: 5vh;
    border: 5px solid #aec3ae;
    position: static;
    }

.listaNav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    color: black;
    align-items: flex-end;
    list-style: none;
}