#productos {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
  
  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
  }
  
  #agregar__producto {
    display: none;
  }
  
  .botones__admin {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12px
  }

  .controls{
    display: flex;
    flex-direction: row;
  }